
<form action="/session" method="post">
  <div class="row">
    <div class="medium-4 columns">
      <label>email
        <input type="text" name="email">
      </label>
    </div>
    <div class="medium-4 columns">
      <label>password
        <input type="password" name="password"
      </label>
    </div>
<div class="medium-6 columns">
  <button class="button">login</button>
</div>
  </div>
</form>
