
<form action="/lunches" method="post">
  <div class="row">
    <div class="medium-12 columns">
      <h2> Add a Lunch </h2>
      <label>Restaurant
        <input type="text" name='restaurant'>
      </label>

      <label>Select Your City
        <select name="city">
          <option value="Melbourne">Melbourne</option>
          <option value="Sydney">Sydney</option>
          <option value="Perth">Perth</option>
          <option value="Brisbane">Brisbane</option>
          <option value="Adelaide">Adelaide</option>
          <option value="Gold Coast">Gold Coast</option>
        </select>
      </label>

      <label>Date
        <input type="date" name='date'>
      </label>

        <button class="button">Add Lunch</button>

    </div>

  </div>


</form>
