
<form action="/users" method="post">
  <div class="row">
    <div class="medium-12 columns">
      <h2> Sign Up </h2>
      <label>Name
        <input type="text" name='user_name'>
      </label>
      <label>Email
        <input type="text" name='user_email'>
      </label>
      <label>Password
        <input type="password" name="password_digest">
      </label>

      <label>Select Your City
        <select name="city">
          <option value="Melbourne">Melbourne</option>
          <option value="Sydney">Sydney</option>
          <option value="Perth">Perth</option>
          <option value="Brisbane">Brisbane</option>
          <option value="Adelaide">Adelaide</option>
          <option value="Gold Coast">Gold Coast</option>
        </select>
        <label>Select Your Skill
          <select name="skills">
            <option value="SEO">SEO</option>
            <option value="PPC">PPC</option>
            <option value="Growth">Growth</option>
            <option value="Fund Raising">Fund Raising</option>
            <option value="Web Development">Web Development</option>
            <option value="App Development">App Development</option>
          </select>
        </label>

        <label>Select Your User Type
          <select name="user_type">
            <option value="mentor">Mentor</option>
            <option value="user">User</option>
          </select>
        </label>
        <button class="button">Sign Up</button>

    </div>

  </div>


</form>
