\

#addBtn {

float: right;
margin-right: 5%;
margin-top: 3%;
}



#signBtn {
  float: left;
  margin-right: 2px;
  margin-bottom: 0px;
}





#intro  {
    width: 100%;
    min-height: 200x;
    padding: 40px;
    background: url(/img/intro.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}

#sign-in{
  color: white;
}

#lunches {
  padding: 40px;
  padding-top: 5px;
  width: 100%;

}

#why {
  padding: 40px;
}

#white {
  color: white;
}

#lunchView {
  padding: 40px;
}

#searchbtn {
  margin-top: 23px;
}
#search {
  padding-left: 22px;
}
